header{
    text-align: center;
    padding: 2em;
    margin: 2em;
    font-size: large;
    background-color: rgb(78, 11, 122);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}